.link {
    fill: none;
    /*stroke: #666;*/
    stroke: #FFF;
    stroke-width: 1px;
}

circle {
    /*fill: #3498DB;*/
    /*fill: #76D7C4;*/
    fill: #48C9B0;
}

text {
    fill: #85929E;
    font: 7px sans-serif;
    pointer-events: none;
}

text.business-entity-diagram-title {
    font-size: 15px;
}

.arrow {
    stroke-width: 5;
    stroke: #000;
    fill: #FFF;
}

.canvas {
    background: #292929;
}

/*** Debugging Styles ***/
.test { border: 2px solid steelblue; }
.test1 { border: 2px solid mediumaquamarine; }
