.link {
    fill: none;
    stroke: #666; /* med grey */
    stroke-width: 0.5px;
}

circle {
    fill: #1f77b4; /* light grey */
    stroke: #fff /* white */
}

text {
    fill: #000;
    font: 10px sans-serif;
    pointer-events: none;
}

/*** Debugging Styles ***/
.test { border: 2px solid steelblue; }
.test1 { border: 2px solid mediumaquamarine; }
