.link {
    fill: none;
    /*stroke: #666;*/
    stroke: #FFF;
    stroke-width: 1px;
}

line.legend-line {
    fill: none;
    stroke: #FFF;
    stroke-width: 2.5px;
}

text.legend-text {
    font-size: 10px;
}

circle {
    /*fill: #3498DB;*/
    /*fill: #76D7C4;*/
    fill: #48C9B0;
}

text {
    fill: #85929E;
    font: 7px sans-serif;
    pointer-events: none;
}

text.business-entity-diagram-title {
    font-size: 15px;
}

.arrow {
    stroke-width: 5;
    stroke: #000;
    fill: #FFF;
}

.canvas {
    background: #292929;
}

.axis {
    font: 10px sans-serif;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}


.slider .handle {
    fill: #fff;
    stroke: #000;
    stroke-opacity: .5;
    stroke-width: 1.25px;
    cursor: crosshair;
}

.axis .domain {
    fill: none;
    stroke: #000;
    stroke-opacity: .3;
    stroke-width: 10px;
    stroke-linecap: round;
}

.axis .halo {
    fill: none;
    stroke: #ddd;
    stroke-width: 8px;
    stroke-linecap: round;
}

/*** Debugging Styles ***/
.test { border: 2px solid steelblue; }
.test1 { border: 2px solid mediumaquamarine; }
